{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Bill{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <style>
  /* Custom styles for the booking form */
 .navbr .navbar-nav .nav-link {
    text-decoration: none !important;
}
#yo {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.head {
  font-family: 'Arial', sans-serif;
  color: #343a40;
}

#yo .form-group label {
  font-weight: bold;
  color: #495057;
}

#yo .form-control {
  border-radius: 5px;
}

#yo .btn-primary {
  background-color: #21b2d2;
  border: none;
}

#yo .btn-primary:hover {
  background-color: #1a8fb5;
}

.modal-content {
  background-color: #e2effb;
  border-radius: 8px;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-title {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  color: #094240;
}

#rentsec p {
  font-size: 1.25rem;
  font-weight: bold;
}

#total span {
  font-size: 1.25rem;
}

#yo .list-group-item {
  background-color: #f8f9fa;
  border: none;
}

#yo .form-row {
  margin-bottom: 15px;
}

#yo .form-group {
  margin-bottom: 20px;
}

 </style>
  </head>
  <body>
    <form method="POST" action="\bill">
      {% csrf_token %}
      <div class="container" id="yo">
        <div class="row my-4">
          <div class="col-12">
            <h2 class="text-center head my-4">Booking Details</h2>
            <div class="form-group">
              <label for="billname">Full Name:</label>
              <input type="text" class="form-control" id="billname" name="billname" placeholder="Full Name">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="billemail">Email:</label>
                <input type="email" class="form-control" id="billemail" name="billemail" placeholder="name@gmail.com">
              </div>
              <div class="form-group col-md-6">
                <label for="billphone">Phone Number:</label>
                <input type="tel" class="form-control" id="billphone" name="billphone">
              </div>
            </div>
            <div class="form-group">
              <label for="billaddress">Address:</label>
              <input type="text" class="form-control" id="billaddress" name="billaddress" placeholder="COEP">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="billcity">City:</label>
                <input type="text" class="form-control" id="billcity" name="billcity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State:</label>
                <select id="inputState" class="form-control" name="inputState">
                  <option selected>Choose...</option>
                  <option>Maharashtra</option>
                  <option>Delhi</option>
                  <option>Andhra Pradesh</option>
                  <option>Gujarat</option>
                  <option>Tamil Nadu</option>
                  <option>Kerala</option>
                  <option>Karnataka</option>
                  <option>Uttar Pradesh</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Pin Code:</label>
                <input type="text" class="form-control" id="inputZip" name="inputZip">
              </div>
            </div>
            <h2 class="text-center head my-4">Car Details</h2>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="cars11">Car Chosen (For Confirmation):</label>
                <select id="cars11" name="cars11" class="form-control">
                  <option selected disabled>Choose...</option>
                  <option value="Renault">Renault</option>
                  <option value="Alto 800">Alto 800</option>
                  <option value="Innova Crysta">Innova Crysta</option>
                  <option value="Chevy Traverse">Chevy Traverse</option>
                  <option value="BMW X5">BMW X5</option>
                  <option value="Honda City">Honda City</option>
                  <option value="Mercedes Benz">Mercedes Benz</option>
                  <option value="Swift Dezire">Swift Dezire</option>
                  <option value="KIA">KIA</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="color1">Color of the car:</label>
                <select id="color1" name="color1" class="form-control">
                  <option selected>Choose...</option>
                  <option value="Black">Black</option>
                  <option value="Red">Red</option>
                  <option value="White">White</option>
                  <option value="Silver">Silver</option>
                  <option value="Blue">Blue</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="dayss">No. of days:</label>
                <input type="number" class="form-control" id="dayss" name="dayss" min="1" max="30">
              </div>
              <div class="form-group col-md-6">
                <label for="date">Pickup Date:</label>
                <input type="date" class="form-control" id="date" name="date">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fl">From Location:</label>
                <input type="text" class="form-control" id="fl" name="fl">
              </div>
              <div class="form-group col-md-6">
                <label for="tl">To Location:</label>
                <input type="text" class="form-control" id="tl" name="tl">
              </div>
            </div>
            <div class="cols1 my-4">
              <h2 class="text-center">Total Bill</h2>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center my-3" id="rentsec">
                  <p>Total Rent is: Rs <span></span></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalLong" id="showre" onclick="calculate()" style="background-color: #21b2d2;">Checkout</button>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color:rgb(226, 239, 251);">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Receipt:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="printThis">
                <h1 class="text-center" style="background: -webkit-linear-gradient(#77f7f1, #094240);-webkit-background-clip: text; background-clip: text;">CarPool</h1>
                <p id="n1" class="p2 text-center font-weight-bold" style="font-size: 25px; color:rgb(35, 12, 109)">Customer Name: <span></span></p>
                <p class="text-center"><span id="l1" class="p3 font-weight-bold" style="font-size: 25px; color:rgb(35, 12, 109)">From: <span></span></span>
                  &nbsp;&nbsp;&nbsp;--------->&nbsp;&nbsp;&nbsp;
                  <span id="l2" class="p3 font-weight-bold" style="font-size: 25px; color:rgb(35, 12, 109)">To: <span></span></span></p>
                <p id="d2" class="p8 text-center font-weight-bold" style="font-size: 25px; color:rgb(35, 12, 109)">No. of days for rent: <span></span></p>
                <p id="d1" class="p2 text-center font-weight-bold" style="font-size: 25px; color:rgb(35, 12, 109)">Pickup date: <span></span></p>
                <p class="text-center" style="font-size: 23px;">
                  <span style="font-size:30px;font-weight:bold">Car Details:</span><br><span id="crs1" class="font-weight-bold">Car: <span></span> </span><br><span id="crs2" class="font-weight-bold">Car color: <span></span> </span><br><br></p>
                <p id="total" class="p1 text-center font-weight-bold" style="font-size: 25px;">Total Bill: Rs <span>N/A</span></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnPrint" style="background-color: #21b2d2;">Pay to Rent</button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" style="background-color: #21b2d2;">Confirm Booking</button>
      </div>
    </form>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      window.onload = function() {
        document.getElementById('billname').value = "{{ user.username }}";
        document.getElementById('billemail').value = "{{ user.email }}";
        document.getElementById('billphone').value = "{{ user.profile.number }}";
      }

      function calculate() {
        var select = document.getElementById("cars11");
        var option = select.value;
        var rent = 0;
        switch (option) {
          case "Renault":
            rent = 2000;
            break;
          case "Alto 800":
            rent = 700;
            break;
          case "Innova Crysta":
            rent = 3500;
            break;
          case "Chevy Traverse":
            rent = 3000;
            break;
          case "BMW X5":
            rent = 10000;
            break;
          case "Honda City":
            rent = 2500;
            break;
          case "Mercedes Benz":
            rent = 40000;
            break;
          case "Swift Dezire":
            rent = 1000;
            break;
          case "KIA":
            rent = 800;
            break;
          default:
            rent = 0;
        }

        var days = Number(document.getElementById('dayss').value);
        var total = rent * days;

        document.getElementById('rentsec').querySelector("span").textContent = total;

        document.getElementById("n1").querySelector("span").textContent = document.getElementById("billname").value;
        document.getElementById("l1").querySelector("span").textContent = document.getElementById("fl").value;
        document.getElementById("l2").querySelector("span").textContent = document.getElementById("tl").value;
        document.getElementById("d1").querySelector("span").textContent = document.getElementById("date").value;
        document.getElementById("d2").querySelector("span").textContent = days;
        document.getElementById("crs1").querySelector("span").textContent = option;
        document.getElementById("crs2").querySelector("span").textContent = document.getElementById("color1").value;
        document.getElementById("total").querySelector("span").textContent = total;
      }

      document.getElementById("btnPrint").onclick = function () {
        var stripe = Stripe('pk_test_51PGmobKXtva9ExSafAEhx2jP9qOtCaEG2J7DyGZdRDPi09S0kFdnUBljtsAe35zJ34jUx4Oz38SGtxzW3ccIjA0400rW5mbXdY');
        var body = {
          name: document.getElementById("billname").value,
          from: document.getElementById("fl").value,
          to: document.getElementById("tl").value,
          days: document.getElementById("dayss").value,
          date: document.getElementById("date").value,
          car: document.getElementById("cars11").value,
          color: document.getElementById("color1").value,
          total: document.getElementById("rentsec").querySelector("span").textContent
        }
        fetch(`{% url 'create-checkout-session' %}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify(body)
        })
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.sessionId }))
        .then(result => {
          if (result.error) {
            alert(result.error.message);
          }
        });
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}
