{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div
        class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">Enjoy Ride<br>with Us</h2>
        <p data-aos="fade-up" data-aos-delay="100">"CarPool" is a comprehensive online platform designed to revolutionize the car rental experience. Our website offers
           a user-friendly interface that allows customers to easily browse, compare, and book rental vehicles from a wide selection of trusted providers.</p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">

      <a href="/about" class="btn btn-primary" style="background-color: #21b2d2;">Know More</a>
          
          <a href="https://youtu.be/ZUL0qFMYme8?si=XVgTU2f7J9pjtYVq"
            class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
              Video</span></a>
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
        <img src="/static/img/logo.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->
<main id="main">

  <!-- ======= About Section ======= -->
\
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Why Choose CarPool?</h3>
            <p>
              CarPool, a pioneer in the car rental industry, redefines urban mobility with its innovative approach to self-drive car rentals.
               Established in 2013, CarPool quickly gained prominence as India's leading self-drive car rental service,
               offering customers a convenient and flexible alternative to traditional car ownership. 
            </p>
            
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-center">
          <div class="row gy-4">

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="https://www.shutterstock.com/image-photo/woman-washing-her-car-selfservice-600nw-1861269733.jpg" alt="" width="250px" height="150px">
                <h4 style="padding: 10%;">Hygeine Car</h4>
                <p> Implement rigorous cleaning protocols to maintain the cleanliness and hygiene 
                  of rental vehicles, including thorough interior and exterior cleaning between rentals.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="/static/img/rent.png" alt="" width="200px">
                <h4>Convenient Booking Process</h4>
                <p>Convenience is paramount in today's fast-paced world. Our user-friendly online 
                  platform and mobile app make the booking process quick and effortless. With just 
                  a few clicks, customers can browse our inventory, compare prices, and secure their
                   reservation within minutes</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <img src="https://www.shutterstock.com/image-illustration/black-sedan-cars-standing-row-260nw-1303695268.jpg" alt="Fleet" style="width:250px;">
                <h4>Quality Fleet Selection</h4>
                <p>At CarPool, we pride ourselves on offering a diverse and well-maintained fleet of vehicles.
                   From compact cars to spacious SUVs and luxurious sedans, we ensure that every vehicle meets the highest
                    standards of safety, cleanliness, and performance.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Stats Counter Section ======= -->
 
 
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Testimonials</h2>
        <p>What Are They <span>Saying About Us</span></p>
      </div>

      <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      CarPool made my trip to Mumbai a breeze! The booking process was smooth, and the car was in great condition. I'll definitely be using CarPool for all my future travels.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Sneha P. <br>Mumbai, Maharashtra</h3>
             
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="https://img.freepik.com/free-photo/closeup-smiling-young-beautiful-indian-woman_1262-2261.jpg?size=626&ext=jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      I needed a reliable car for a weekend road trip, and CarPool delivered! The selection of vehicles was impressive, and the customer service was top-notch. Highly recommend!
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Rahul <br> Bengluru,Karnataka</h3>
                   
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="https://img.freepik.com/premium-photo/portrait-young-handsome-indian-man-thinking-against-gray_251136-12617.jpg?size=626&ext=jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      CarPool exceeded my expectations! The prices were affordable, and the booking process was quick and easy. Will be recommending CarPool to all my friends and family.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Priya M.</h3>
                    <h4>Chennai,TamilNadu</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="https://img.freepik.com/free-photo/woman-doing-close-up-photoshoot-studio_53876-14476.jpg?size=626&ext=jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Renting with CarPool was a breeze! The car was clean, comfortable, and exactly what I needed for my business trip. Will definitely be using CarPool again in the future.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Rajesh K.</h3>
                    <h4>Delhi,Delhi</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="https://img.freepik.com/premium-photo/young-handsome-persian-man-white_251136-32443.jpg?size=626&ext=jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->




  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>gallery</h2>
        <p>Check <span>Our Gallery</span></p>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="https://img.freepik.com/free-photo/luxurious-car-parked-highway-with-illuminated-headlight-sunset_181624-60607.jpg"><img src="https://img.freepik.com/free-photo/luxurious-car-parked-highway-with-illuminated-headlight-sunset_181624-60607.jpg" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3PfRT-aEDKBibqESvwYyScphKPnLxt_uLgaESe7I_mg&s"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3PfRT-aEDKBibqESvwYyScphKPnLxt_uLgaESe7I_mg&s" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D"><img src="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="https://imgd.aeplcdn.com/370x208/n/cw/ec/156405/xuv-3xo-exterior-right-front-three-quarter-3.png?isig=0&q=80"><img src="https://imgd.aeplcdn.com/370x208/n/cw/ec/156405/xuv-3xo-exterior-right-front-three-quarter-3.png?isig=0&q=80" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIVwMPOJ_jhwDE4HmpnN3aOx0BhLo4tBcFvrCLCbSGcxSS4ciJT_YtECzRYmLj6LqSNA0&usqp=CAU"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIVwMPOJ_jhwDE4HmpnN3aOx0BhLo4tBcFvrCLCbSGcxSS4ciJT_YtECzRYmLj6LqSNA0&usqp=CAU" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMEf72dGX7ZpdI5dlHedUqCrBXKWvq0LYlOlk9KUR-n1Or-HdwdNorAcAOtV5gVbqBB7w&usqp=CAU"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMEf72dGX7ZpdI5dlHedUqCrBXKWvq0LYlOlk9KUR-n1Or-HdwdNorAcAOtV5gVbqBB7w&usqp=CAU" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpcFZuLoU5rO237MDKBZdYLZHmLybh0m8dJFDWhrZ3IGrdhF1zDyQxgQwl99OAjo2xfYM&usqp=CAU"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpcFZuLoU5rO237MDKBZdYLZHmLybh0m8dJFDWhrZ3IGrdhF1zDyQxgQwl99OAjo2xfYM&usqp=CAU" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5u-OA7tVJ34n-IKlV9lQSl0dtdpSvleM8v3_Q1eTJ_w&s"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5u-OA7tVJ34n-IKlV9lQSl0dtdpSvleM8v3_Q1eTJ_w&s" class="img-fluid"
                alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Gallery Section -->



</main><!-- End #main -->
{% endblock %}
  



